
*.gz
/.idea/
/logs/
/saves/
/screenshots/
usercache.json
usernamecache.json
options.txt
optionsof.txt
/astralsorcery/
/assets/
.curseclient
/crash-reports/
mods/elegant-networking-1.12-2.5.jar
mods/endercompass-1.5.1-1.12.2.jar
/.mixin.out/
config/elegant_networking.cfg
